priority -40

snippet dcuseentitymanager "Doctrine / Use entity manager" b
use Doctrine\ORM\EntityManager${1:Interface};
endsnippet

snippet dcusecriteria "Doctrine / Use criteria" b
use Doctrine\Common\Collections\Criteria;
endsnippet

snippet dcusecollection "Doctrine / Use / Collection" b
use Doctrine\Common\Collections\\${1:Array}Collection;
endsnippet
